@use 'styles/_colors.scss' as colors;

.App {
  width: 100%;
  height: stretch;
  background-color: colors.$base;
}

.TextAreaContainer {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.StatsContainer {
  display: flex;
  height: 20%;
  justify-content: end;
  margin: 4rem;
}