@use '../../styles/_colors.scss' as colors;

.hiddenTextArea {
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  color: colors.$text;
  border: white 1px solid;
  outline: none;
  resize: none;

  font-size: 2rem;
}
